.backgroung-dark {
    background-image: url(./img/dark.jpg);
}

.column-dark {
    background-color: rgb(16, 18, 4);
    color: white;
}

.column-element-dark {
    background-color: rgb(36, 37, 40);
    box-shadow: none;
}

.task-dark-theme {
    background-color: rgb(36, 37, 40);
    box-shadow: none;
    color: white;
}

.input-block-dark {
    background-color: rgb(36, 37, 40);
    box-shadow: none;
}

.button-theme-dark {
    background-color: rgb(36, 37, 40);
    color: white;
}