.workplace {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 30%;
    min-height: 200px;
    padding: 20px;
    background-color: rgb(241, 242, 244);
    border-radius: 20px;
}

.column-title {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 23px;
    font-weight: 600;
    box-shadow: 
        6px 6px 12px #d1d9e6,  
        -6px -6px 12px #eff5ff; 
}
.column-title:hover,
.input-task:hover {
    box-shadow: 
        3px 3px 6px #d1d9e6,
        -3px -3px 6px #eff5ff;
}

.column-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Input Block */

.input-task {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 23px;
    font-weight: 600;
    outline: none;
    padding-left: 10px;
}
.input-task::placeholder {
    text-align: center;
}

.input-block {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 
        6px 6px 12px #d1d9e6,  
        -6px -6px 12px #eff5ff;
}

.input-buttons {
    display: flex;
    justify-content: space-around;
}

.input-btn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.input-btn:active {
    scale: 0.95;
}

.set-btn {
    background-color: rgb(148, 199, 72);
}

/* task cards */

.task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 
        6px 6px 12px #d1d9e6,  
        -6px -6px 12px #eff5ff; 
}
